<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
	  <%= form_for @search do |f| %>
	    <%= f.label :title_contains %>
	    <%= f.text_field :title_contains %><br />
	    <%= f.label :comments_created_at_greater_than, 'With comments after' %>
	    <%= f.datetime_select :comments_created_at_greater_than, :include_blank => true %><br />
	    <!-- etc... -->
	    <%= f.submit %>
	  <% end %>
  	</body>
</html>
